:root {
  --bg: #e4e4e4;
  --text: #333333;
  --text-light: #666666;
  --white: #ffffff;
  --border: #e5e5e5;
  --accent: #aa3bff;

  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100vh;
}

.page {
  margin: 30px;
}